<div class="messages">
    <div ng-repeat="line in output track by $index">
        <div class="line" ng-show="line" ng-bind="line"></div>
        <div ng-show="!line">&nbsp;</div>
    </div>
</div>
<div class="interactive input-group" ng-show="input.prompt">
    <span class="input-group-addon prompt" ng-bind="input.prompt" ng-click="focusOnInput()"></span>
    <input type="text" class="form-control" ng-model="input.command" ng-disabled="disabled"
           autocapitalize="off" autocorrect="off" spellcheck="false" autocomplete="off">
</div>