<fieldset>
    <div class="clearfix form-group">
        <label for="{{ modal.id }}Name" class="control-label">{{ locale.name }}</label>
        <input type="text" id="{{ modal.id }}Name" class="form-control input-lg" ng-model="newDevice.name" />
    </div>
    <div class="clearfix form-group">
        <label for="{{ modal.id }}Type" class="control-label">{{ locale.creationDialog.type }}</label>
        <p ng-if="deviceTypes === null">{{ locale.loading }}</p>
        <div ng-if="deviceTypes !== null">
            <select id="{{ modal.id }}Type" class="form-control input-lg"
                    ng-model="newDevice.type" ng-options="type.label for type in deviceTypes">
            </select>
        </div>
    </div>
</fieldset>