<form name="link-devices">
    <div ng-show="isLoadingInterfaces() && loadError === null">{{ locale.loadingInfo }}</div>
    <div ng-show="!isLoadingInterfaces()">
        <div ng-show="availableInterfaces()">
            <p>{{ locale.linkDialog.select }}</p>
            <div class="clearfix form-group">
                <label for="{{modal.id}}FromIface" class="col-md-3 fromDeviceName">{{ fromDeviceName }}</label>
                <div class="col-md-9" ng-if="fromInterfaces !== null">
                    <select id="{{modal.id}}FromIface" class="form-control" size="1" ng-model="selected.fromIface"
                            ng-options="iface.portName for iface in fromInterfaces">
                    </select>
                </div>
            </div>
            <div class="clearfix form-group">
                <label for="{{modal.id}}ToIface" class="col-md-3 toDeviceName">{{ toDeviceName }}</label>
                <div class="col-md-9" ng-if="toInterfaces !== null">
                    <select id="{{modal.id}}ToIface" class="form-control" size="1" ng-model="selected.toIface"
                            ng-options="iface.portName for iface in toInterfaces">
                    </select>
                </div>
            </div>
        </div>
        <div ng-show="!availableInterfaces()">
            <p>{{ locale.linkDialog.error.unavailability }}</p>
        </div>
    </div>
    <div ng-show="loadError !== null">
        <p>{{ locale.linkDialog.error.loading }}</p>
        <p>{{ loadError }}</p>
    </div>
</form>