<uib-tabset justified="true">
    <uib-tab>
        <uib-tab-heading>{{ locale.modificationDialog.globalSettings }}</uib-tab-heading>
        <div class="clearfix form-group">
            <label for="{{ modal.id }}-name">{{ locale.name }}</label>
            <input type="text" ng-model="device.name" id="{{ modal.id }}-name" class="form-control input-lg" />
        </div>
        <div class="clearfix form-group" ng-show="device.defaultGateway !== null"
             ng-class="{'has-error': dialogForm.defaultgw.$invalid}">
            <label for="{{ modal.id }}-default-gw" class="control-label">{{ locale.modificationDialog.defaultGW }}</label>
            <input type="text" ng-model="device.defaultGateway" ng-pattern="ipAddrPattern"
                   name="defaultgw" id="{{ modal.id }}-default-gw" class="form-control input-lg" />
        </div>
    </uib-tab>
    <uib-tab>
        <uib-tab-heading>{{ locale.modificationDialog.interfaces }}</uib-tab-heading>
        <div ng-show="interfaces === null">{{ locale.loadingInfo }}</div>
        <div ng-show="interfaces !== null">
            <div class="clearfix form-group">
                <label for="{{ modal.id }}-ifaces" class="control-label">{{ locale.name }}</label>
                <select id="{{ modal.id }}-ifaces" class="form-control input-lg" size="1"
                        ng-model="interface.selected" ng-options="iface.portName for iface in interfaces">
                </select>
            </div>
            <hr />
            <div class="clearfix form-group" ng-show="interface.ipAddr !== null">
                <div class="clearfix form-group" ng-class="{'has-error': dialogForm.ipaddr.$invalid}">
                    <label for="{{ modal.id }}-ipaddr" class="control-label">{{ locale.modificationDialog.ipAddress }}</label>
                    <input type="text" ng-model="interface.ipAddr" ng-pattern="ipAddrPattern"
                           name="ipaddr" id="{{ modal.id }}-ipaddr" class="form-control input-lg" />
                </div>
                <div class="clearfix form-group" ng-class="{'has-error': dialogForm.subnet.$invalid}">
                    <label for="{{ modal.id }}-subnet" class="control-label">{{ locale.modificationDialog.subnetMask }}</label>
                    <input type="text" ng-model="interface.subnet" ng-pattern="ipAddrPattern"
                           name="subnet" id="{{ modal.id }}-subnet" class="form-control input-lg"/>
                </div>
            </div>
            <div class="clearfix form-group" ng-show="interface.ipAddr === null">
                <p class="col-md-12">{{ locale.modificationDialog.noSettings }}</p>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
